:root {
  --scale: 1.5;
  --font-size: calc(24px * var(--scale));
  --level-width: calc(581px * var(--scale));
  --level-height: calc(597px * var(--scale));
  --level-floor-height: calc(44px * var(--scale));
  --window-width: calc(67px * var(--scale));
  --window-height: calc(119px * var(--scale));
  --player-height: calc(86px * var(--scale));
  --fix-window-padding: 0 calc(3rem * var(--scale));
  --fix-player-margin: calc(1.2rem * var(--scale)) 0 0 calc(0.4rem * var(--scale));
  --fix-player-padding: 0 calc(1rem * var(--scale)) 0 0;
  --fix-floor-position: 0
    calc(var(--level-width) - (var(--level-floor-height) / 2));
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: white;
  font-family: "Press Start 2P", system-ui;
}

main {
  background-color: black;
}

.hidden {
  opacity: 0;
}

h2 {
  text-transform: uppercase;
}

#hud {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, min-content);
  column-gap: var(--level-width);
  justify-content: center;
  position: absolute;
  z-index: 10;
}

#life {
  display: flex;
}

.level {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  align-items: center;
  background: url("../../res/sprites/start-level.png") no-repeat,
    url("../../res/sprites/level-floor.png") repeat-x;
  background-size: auto var(--level-height), auto var(--level-floor-height);
  background-position: top, var(--fix-floor-position);
}

.level-windows {
  display: grid;
  width: var(--level-width);
  height: var(--level-height);
  padding: var(--fix-window-padding);
  grid-template-columns: repeat(5, 1fr);
  align-items: center;
  justify-items: center;

  > img {
    width: var(--window-width);
    height: var(--window-height);
  }
}

#player {
  height: var(--player-height);
  margin: var(--fix-player-margin);
  padding: var(--fix-player-padding);
  position: absolute;
}
