:root {
  --scale: 1.5;
  --font-size: calc(24px * var(--scale));
  --level-width: calc(581px * var(--scale));
  --level-height: calc(597px * var(--scale));
  --floor-size: calc(398px * var(--scale)), auto;
  --window-width: calc(67px * var(--scale));
  --window-height: calc(119px * var(--scale));
  --player-height: calc(86px * var(--scale));
  --fix-window-padding: 0 calc(3rem * var(--scale));
  --fix-player-margin: calc(1.2rem * var(--scale)) 0 0 calc(0.4rem * var(--scale));
  --fix-player-padding: 0 calc(1rem * var(--scale)) 0 0;
  --fix-floor-position: 0
    calc(var(--level-width) - (var(--level-floor-height) / 2));
  --floor-size: calc(398px * var(--scale)), auto;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: white;
  font-family: "Press Start 2P", system-ui;
}

main {
  height: 100vh;
  background-color: black;
}

.hidden {
  opacity: 0;
}

h2 {
  text-transform: uppercase;
}

#hud {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, min-content);
  column-gap: var(--level-width);
  justify-content: center;
  position: absolute;
  z-index: 10;
}

#life {
  display: flex;
}

#level {
  margin: auto;
  position: relative;
  z-index: 1;
}

#level-background {
  width: 100%;
  height: 100%;
  background: url("../../res/sprites/floor.png") repeat-x bottom;
  background-size: var(--floor-size);
  position: absolute;
  z-index: -1;
}

#level-building {
  width: var(--level-width);
  height: var(--level-height);
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  margin: auto;
  padding: var(--fix-window-padding);
  background: url("../../res/sprites/building.png") no-repeat bottom;
  background-size: cover;
}

#player {
  height: var(--player-height);
  margin: var(--fix-player-margin);
  padding: var(--fix-player-padding);
  position: absolute;
}
